<%= form_for @sandwich do |f|%>
<p>
  <%= f.label :name, 'Sandwich Name' %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :toast %>
  <%= f.check_box :toast %>
  <%= f.label :grill %>
  <%= f.check_box :grill %>
  <%= f.label :open_face %>
  <%= f.check_box :open_face %>
</p>
<p>
  <%= f.label :bread %>
  <%= f.text_field :bread %>
</p>
<p>
  <%= f.label :spread %>
  <%= f.text_field :spread %>
</p>
<p>
  <%= f.label :spread %>
  <%= f.text_field :spread %>
</p>
<p>
  <%= f.label :spread %>
  <%= f.text_field :spread %>
</p>
<p>
  <%= f.label :meat %>
  <%= f.text_field :meat %>
</p>
<p>
  <%= f.label :meat %>
  <%= f.text_field :meat %>
</p>
<p>
  <%= f.label :meat %>
  <%= f.text_field :meat %>
</p>
<p>
  <%= f.label :cheese %>
  <%= f.text_field :cheese %>
</p>
<p>
  <%= f.label :cheese %>
  <%= f.text_field :cheese %>
</p>
<p>
  <%= f.label :cheese %>
  <%= f.text_field :cheese %>
</p>
<p>
  <%= f.label :green, 'Vegetable/Fruit/Herb' %>
  <%= f.text_field :green %>
</p>
<p>
  <%= f.label :green, 'Vegetable/Fruit/Herb' %>
  <%= f.text_field :green %>
</p>
<p>
  <%= f.label :green, 'Vegetable/Fruit/Herb' %>
  <%= f.text_field :green %>
</p>
  <%= f.submit %>
<% end %>
