<ul>
  <li>
    Sandwich Name: <%= sandwich.name %></li>
  <li>Spread: <%= sandwich.spread %></li>
  <li>Meat: <%= sandwich.meat %></li>
  <li>Cheese: <%= sandwich.cheese %></li>
  <li>Green: <%= sandwich.green %></li>
</ul>