<ul>
  <li>
    Sandwich Name: <%= sandwich.name %></li>
    <li>Toast: <%= sandwich.toast %></li>
    <li>Grill: <%= sandwich.grill %></li>
    <li>Open-Face: <%= sandwich.open_face %></li>
    <li>Spread: <%= sandwich.spread %></li>
    <li>Meat: <%= sandwich.meat %></li>
    <li>Cheese: <%= sandwich.cheese %></li>
    <li>Green: <%= sandwich.green %></li>
</ul>
